/* @import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap"); */

body {
    font-family: "League Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* carousol  */

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    /* background: #121212; */
    opacity: 0.5;
}

/* cources */
.card {
    max-width: 800px !important;
}

/* explore  */
#counted-achievements-bg {
    margin-top: 10rem;
    /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url(./images/cover/cover-4.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* height: 85vh; */
}

/* carousol fix for small devices  */

@media (max-width: 768px) {
    .carousel-item img {
        object-fit: cover;
        height: 70vh;
    }

    .com {
        display: none;
    }
}

@media (max-width: 990px) {
    .carousel-item img {
        object-fit: cover;
        height: 70vh;
    }

    .com {
        display: none;
    }
}